.offer {
  text-align: center;
}

.offer__title {
  padding-top: 37px;
  padding-bottom: 23px;
  &>.offer__text {
    margin: 0;
    font-size: $font-size__title--big;
    font-weight: 100;
  }
  &>.offer__text:first-child {
    margin-bottom: 21px;
  }
}

.offer__break {
  display: none;
}

.offer__advantages {
  background-color: $color-white-gray;
  margin-top: 32px;
  padding-top: 56px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -90px;
    display: block;
    height: 100%;
    transform-origin: left top;
    background-image: url('../img/bg-triangle-white.svg');
    background-repeat: no-repeat;
    background-color: inherit;
    width: 100%;
    z-index: -1;
  }
}

.offer__item-title {
  font-size: $font-size__title;
  line-height: $font-size__title;
  font-weight: 600;
  color: $color-black;
}

.offer__list {
  @include reset-list-style;
  padding-bottom: 325px;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center 425px;
  @media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
    background-image: url(../img/iphone-screen-mobile@2x.png);
    background-size: 157px, 320px;
  }
}

.offer__item {
  width: 280px;
  margin: 0 auto;
}

.offer__item {
  @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
    &:before {
      background-size: 292px 302px;
    }
    &:nth-child(1):before {
      background-image: url(../img/iphone-screen-1-desktop@2x.png);
    }
    &:nth-child(2):before {
      background-image: url(../img/iphone-screen-2-desktop@2x.png);
    }
    &:nth-child(3):before {
      background-image: url(../img/iphone-screen-3-desktop@2x.png);
    }
  }
  &>.offer__effect-title {
    display: block;
    font-size: $font-size__title;
    line-height: $font-size__title;
  }
  &>.offer__item-text {
    margin-bottom: 35px;
    font-size: $font-size__text--more;
    line-height: $font-size__title--big;
  }
  &:last-child>.offer__item-text {
    margin-bottom: 0;
  }
}

.offer__item-text:nth-child(2) {
  margin-bottom: 33px;
}

.offer__effect-inner {
  display: none;
  position: relative;
  padding-top: 100px;
  padding-bottom: 86px;
  padding-left: 300px;
  text-align: left;
  background-repeat: no-repeat;
  &:before {
    content: '24';
    background-image: url(../img/icon-editor-diagram-fill.svg), url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 0;
    text-align: center;
    color: $color-red;
    font-weight: 700;
  }
}

.offer__effect-title {
  font-size: $font-size__text--big;
  line-height: 36px;
  color: $color-black;
  margin-bottom: 17px;
  margin-top: 0;
}

.offer__effect-description {
  line-height: $font-size__title--big;
}

.offer__effect-link {
  color: $color-red;
}

@media (min-width: $tablet-widths) {
  .offer__title {
    padding-top: 45px;
    padding-bottom: 50px;
    &>.offer__text {
      font-size: $font-size__title--huge;
      text-align: center;
    }
    &>.offer__text:first-child {
      margin-bottom: 0;
    }
  }
  .offer__text:last-child {
    width: 400px;
    display: inline-block;
  }
  .offer__break {
    display: inline
  }
  .offer__advantages {
    padding-top: 30px;
  }
  .offer__advantages {
    &:before {
      content: '';
      height: 90%;
    }
  }
  .offer__list {
    margin: 0 auto;
    margin-top: -73px;
    padding-left: 309px;
    padding-top: 47px;
    padding-bottom: 18px;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    position: relative;
    background-position: left 20px bottom;
    text-align: left;
    @media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-screen-3-tablet@2x.png);
      background-size: 259px, 481px;
    }
  }
  .offer__item {
    margin: 20px 0 0 20px;
    width: 300px;
    &>.offer__item-text {
      margin-bottom: 36px;
    }
  }
  .offer__effect-inner {
    display: block;
    padding-top: 95px;
    padding-left: 318px;
    max-width: 320px;
    &:before {
      top: 59px;
      left: 19px;
      width: 239px;
      height: 277px;
      font-size: $font-size__effect--tablet;
      line-height: 310px;
      background-position: center 56px, center center;
      background-size: 203px, cover;
    }
  }
  .offer__effect-title {
    width: 180px;
    margin-bottom: 10px;
  }
  .offer__effect-description {
    width: 300px;
    margin: 0 0 15px 0;
  }
}

@media (min-width: $desktop-widths) {
  .offer__inner {
    width: 920px;
    margin: 0 auto;
  }
  .offer__title {
    padding-top: 60px;
    padding-bottom: 135px;
    &>.offer__text {
      font-size: $font-size__title--hugest;
    }
  }
  .offer__list {
    display: flex;
    width: 920px;
    margin: 0 auto;
    padding: 0;
    background: none;
    margin-top: -142px;
    margin-right: 120px;
    padding-bottom: 67px;
    position: relative;
    z-index: 1;
    background-image: none;
  }
  .offer__item {
    text-align: center;
    flex-basis: 240px;
    margin-left: 0;
    &:before {
      content: '';
      padding-top: 362px;
      display: block;
      background-repeat: no-repeat;
      background-position: center top;
    }
    &:nth-child(1) {
      margin-left: 20px;
      margin-right: 85px;
    }
    &:nth-child(2) {
      margin-right: 80px;
    }
    &:nth-child(1):before {
      background-image: url(../img/iphone-screen-1-desktop@1x.png);
    }
    &:nth-child(2):before {
      background-image: url(../img/iphone-screen-2-desktop@1x.png);
    }
    &:nth-child(3):before {
      background-image: url(../img/iphone-screen-3-desktop@1x.png);
    }
    &>.offer__item-text {
      font-size: $font-size__title;
      line-height: $font-size__text--big;
      margin-bottom: 0;
    }
  }
  .offer__text {
    font-weight: 300;
    &:nth-child(2) {
      width: 600px;
      line-height: 60px;
    }
  }
  .offer__item-title {
    font-size: 26px;
    line-height: $font-size__text--big;
    font-weight: 300;
    &:nth-last-child(2) {
      display: inline-block;
      width: 150px;
    }
  }
  .offer__effect-block {
    background-color: $color-white-gray;
  }
  .offer__effect-inner {
    max-width: 540px;
    margin: 0 auto;
    padding-left: 380px;
    padding-bottom: 112px;
    &:before {
      top: 0;
      left: 10px;
      background-size: 252px, cover;
      background-position: center 72px, center center;
      width: 300px;
      height: 350px;
      line-height: 385px;
      font-size: $font-size__effect--desctop;
    }
  }
  .offer__effect-title {
    width: 380px;
    line-height: $font-size__text--big;
    margin-bottom: 24px;
  }
  .offer__effect-description {
    width: 650px;
    font-size: $font-size__title;
    line-height: $font-size__text--big;
    margin-bottom: 30px;
  }
  .offer__effect-link {
    font-size: $font-size__title;
  }
}
