.reviews {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 35px 0 35px 0;
}
.reviews__content {
  width: 280px;
  margin: 0 auto;
}
.reviews__container {
  position: relative;
  margin: 0;
  padding: 45px 20px 40px;
  box-sizing: border-box;
}

.reviews__list {
  width: 280px;
  margin: 0 auto;
}

.reviews__inner {
  display: flex;
  margin-bottom: 32px;
  flex-direction: column;
}

.reviews__item {
  margin: 25px 0 0 0;
  text-align: center;
  z-index: 1;
  &:first-child {
    margin-top: 0;
  }
}

.reviews__name {
  display: block;
  margin-bottom: 12px;
  font-size: $font-size__title;
  line-height: $font-size__text--big;
  font-weight: 700;
  text-align: center;
  color: $color-black;
}

.reviews__info {
  display: none;
  font-size: $font-size__text--more;
  line-height: $font-size__text--more;
  text-align: center;
}

.reviews__text {
  font-size: $font-size__text--more;
  line-height: $font-size__text--big;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-widths) {
  .reviews {
    max-width: $tablet-widths;
    padding: 40px 0 25px 0;
  }
  .reviews__wrapper {
    padding: 72px 10px 21px;
  }
  .reviews__inner {
    justify-content: center;
  }
  .reviews__content {
    width: 620px;
  }
  .reviews__list {
    width: auto;
  }
  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child {
      display: flex;
    }
  }
  .reviews__name {
    margin-bottom: 20px;
    font-size: $font-size__title--more;
    line-height: $font-size__text--more;
    order: 1;
  }

  .reviews__info {
    display: block;
    order: 3;
  }
  .reviews__text {
    font-size: $font-size__title;
    line-height: $font-size__text--big;
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-widths) {
  .reviews {
    position: relative;
    max-width: $desktop-widths;
    padding: 186px 0 0 0;
    &::before {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 16%;
        width: 77px;
        height: 64px;
        background-image: url("./../img/icon-quotes.svg");
        background-repeat: no-repeat;
      }
  }
  .reviews__wrapper {
    padding: 170px 10px 16px;
  }
  .reviews__list {
    position: relative;
  }
  .reviews__item {
    padding: 0 120px;
  }
  .reviews__name {
    font-size: $font-size__title--big;
  }
  .reviews__info {
    font-size: $font-size__title;
  }
  .reviews__text {
    width: 650px;
  }
}
