  .banner {
  display: flex;
  min-height: 237px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat, no-repeat;
  background-color: $color-gray-2;
  background-size: 258px, 698px;
  background-position: left 174px, center top;
}

.banner__index {
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/iphone-hand-mobile@2x.png), url(../img/bg-back-mobile@2x.jpg);
  }
  @media (min-width: 660px) and (min-resolution: 144dpi),
  (min-width: 660px) and (min-resolution: 1.5dppx) {
    background-image: url(../img/iphone-hand-tablet@2x.png), url(../img/bg-back-tablet@2x.jpg);
  }
  @media (min-width: 960px) and (min-resolution: 144dpi),
  (min-width: 960px) and (min-resolution: 1.5dppx) {
    background-image: url(../img/iphone-hand-desktop@2x.png), url(../img/bg-back-desktop@2x.jpg);
  }
}

.banner__inner {
  padding-top: 462px;
  &--photo {
    width: 240px;
    padding-top: 0;
  }
}

.intro__img {
  position: absolute;
  top: 176px;
  left: 0;
  font-size: 0;
}

.banner__title {
  color: $color-white;
  align-self: center;
  text-align: center;
  margin: 0;
  font-weight: 100;
  &--photo {
    font-size: $font-size__title--big;
    font-weight: 300;
    line-height: $font-size__text--big;
    padding-top: 16px;
  }
}
.banner__form-title {
  width: 250px;
  padding-top: 39px;
  background: transparent;
  font-size: $font-size__title--big;
  line-height: $font-size__text--big;
}
.banner__form-page {
  min-height: 236px;
}
.banner__form-page,
.banner__photo-page {
  background-image: none, url(../img/bg-back-mobile@1x.jpg);
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: none, url(../img/bg-back-mobile@2x.jpg);
  }
  @media (min-width: 660px) and (min-resolution: 144dpi),
  (min-width: 660px) and (min-resolution: 1.5dppx) {
    background-image: none, url(../img/bg-back-tablet@2x.jpg);
    background-size: 1200px 680px;
  }
  @media (min-width: 960px) and (min-resolution: 144dpi),
  (min-width: 960px) and (min-resolution: 1.5dppx) {
    background-image: none, url(../img/bg-back-desktop@2x.jpg);
    background-size: 2530px;
  }
}

@media (min-width: $tablet-widths) {
  .banner {
    padding-top: 184px;
    background-position: center bottom, center top;
    background-size: 700px, cover;
    min-height: 440px;
  }
  .banner__photo-page {
    padding-top: 0;
    background-position: center bottom, center bottom -105px;
    min-height: 437px;
  }
  .banner__photo-page {
    padding-top: 70px;
    min-height: 365px;
  }
  .banner__form-page {
    padding-top: 34px;
  }
  .banner__index {
    background-image: url(../img/iphone-hand-tablet@1x.png), url(../img/bg-back-tablet@1x.jpg);
  }
  .banner__inner {
    padding: 25px 117px 0 0;
  }
  .intro__img {
    position: static;
    order: 1;
    align-self: flex-end;
  }
  .banner__title {
    width: 620px;
    display: inline-block;
    font-size: $font-size__title--hugest;
    line-height: $font-size__title--hugest;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-weight: 300;
  }
  .photos-page__intro {
    padding: 0;
    background-image: none, url(../img/bg-back-tablet@1x.jpg);
  }
}
  @media (min-width: $desktop-widths) {
    .banner__index {
      background-image: url(../img/iphone-hand-desktop@1x.png), url(../img/bg-back-desktop@1x.jpg);
      min-height: auto;
      padding-top: 184px;
    }
    .banner {
      background-size: 1050px, cover;
      background-position: bottom right, center top;
    }
    .banner__inner {
      padding: 20px 360px 0 0;
    }
    .banner__form-page,
    .banner__photo-page {
      padding-top: 55px;
      background-image: none, url(../img/bg-back-desktop@1x.jpg);
      min-height: 340px;
    }
    .photos-page__page-footer {
      padding-top: 98px;
    }
    .banner__title {
      width: 800px;
      font-size: $font-size__title--hugest;
      font-weight: 300;
      background: none;
      &--photo {
        width: 600px;
      }
    }
  }
