.page-header__title {
  @include visually-hidden
}

.page-header__logo-img:hover .page-header__logo-logotipe path,
.page-header__logo-img:hover .page-header__logo-glasses path {
  fill: $color-red;
}

.page-header__logo-img:hover .page-header__logo-stars path {
  fill: $color-white;
}

.page-header__logo-img {
  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-img {
  &--mobile {
    display: inline;
  }
  &--tablet {
    display: none;
  }
  &--desktop {
    display: none;
  }
}

.page-header__nav {
  top: 0;
  z-index: 1;
  width: 100%;
}

.page-header__inner {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px 19px 17px;
  background-color: $color-black-opacity;
  border: none;
}

.main-nav__wrapper {
  position: absolute;
  width: 100%;
  background-color: $color-black-opacity;
}

.page-header__list {
  display: none;
  position: relative;
  @include reset-list-style;
}

.page-header__item>.page-header__link {
  display: block;
  width: 320px;
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid $color-black;
  border-top: 1px solid $color-light-gray;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $font-size__title;
  color: $color-white;
  background-color: $color-background-gray;
  &:hover {
    color: $color-red;
  }
  &:active {
    color: $color-red;
  }
  &>.page-header__link:last-child {
    padding-bottom: 17px;
  }
}

.page-header__item--active>.page-header__link>.page-header__text {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -9px;
    width: 100%;
    border-bottom: 2px solid;
  }
}

.page-header__btn-close {
  width: 24px;
  height: 27px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.page-header__img-btn-close {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: $color-white;
  &:hover {
    fill: $color-red-2;
  }
  &:active {
    outline: none;
    fill: $color-red-3;
  }
}

.page-header__img-btn-open {
  display: none;
  width: 50px;
  &:hover {
    fill: $color-red-2;
  }
  &:active {
    outline: none;
    fill: $color-red-3;
  }
}

.page-header--closed .page-header__item {
  display: none;
}

.page-header--closed .page-header__img-btn-open {
  display: block;
}
.page-header--closed .page-header__btn-close {
  margin-right: 25px;
}
.page-header--closed .page-header__img-btn-close {
  display: none;
}

.page-header--closed .page-header__logo-item {
  display: flex;
}

.page-header--opened .page-header__item {
  display: flex;
}

.page-header--opened .page-header__img-btn-close {
  display: block;
}
.page-header--opened .page-header__btn-close {
  margin-top: 13px;
}
.page-header--opened .page-header__img-btn-open {
  display: none;
}

.page-header--opened .page-header__logo-item {
  position: static;
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header--nojs .page-header__item {
  display: block;
}

.page-header--nojs .page-header__logo-item {
  position: static;
}

.page-header__nav--open .page-header__list {
  display: block;
  top: 65px;
}
// .page-header__btn-close .page-header__img-btn-open  {
// margin-right: 25px;
// }
// .page-header__nav--close .page-header__img-btn-close  {
//  margin-right: 0;
//   }
.page-header__nav--open .page-header__inner {
  background-color: $color-background-gray;
  border-bottom: 1px solid $color-black;
}

@media (min-width: $tablet-widths) {
  .page-header__logo-img {
    &--mobile {
      display: none;
    }
    &--tablet {
      display: inline;
    }
    &--desktop {
      display: none;
    }
  }
  .page-header__inner {
    min-height: 110px;
    padding-bottom: 40px;
  }
  .page-header__nav--open .page-header__list {
    top: 105px;
  }
  .page-header__item>.page-header__link {
width: 660px;
  }
  .page-header__nav--open .page-header__inner {
    background-color: $color-background-gray;
    border-bottom: 1px solid $color-black;
    min-height: 56px;
  }
  // .page-header__nav--open .page-header__btn-close {
  //   height: 30px;
  //   padding: 12px 0 0 0;
  //   margin: 0
  // }
 
}

@media (min-width: $desktop-widths) {
  .page-header__logo-img {
    &--mobile {
      display: none;
    }
    &--tablet {
      display: none;
    }
    &--desktop {
      display: inline;
    }
  }
  .page-header__nav {
    position: absolute;
    background-color: $color-black-opacity;
  }
  .page-header__inner {
    position: static;
    min-height: auto;
    padding: 0;
  }
  .page-header__wrapper {
    display: flex;
    padding-top: 25px;
    padding-bottom: 36px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }
  .page-header__list {
    display: flex;
    top: 0;
    width: 622px;
    justify-content: space-between;
  }
  .page-header__burger {
    display: none;
  }
  .page-header__btn-close {
    display: none;
  }
  .page-header__item {
    display: block;
  }
  .page-header__item>.page-header__link {
    background-color: transparent;
    padding-top: 22px;
    padding-bottom: 20px;
    border: none;
    font-size: $font-size__title;
    line-height: $font-size__title;
    font-weight: 400;
  }
  .page-header__nav--open .page-header__list {
    top: 0;
    display: flex;
  }
  .page-header__nav--open .page-header__inner {
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
  }
}
