.slider {
  overflow: hidden;
}

.slider__item {
  display: none;
  &--active {
    display: block;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slider__pagination-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-gray-5;
  margin-right: 15px;
  &:hover {
    background-color: $color-gray-6;
  }
  &:active {
    background-color: $color-red-4;
  }
  &--active {
    border: 3px solid $color-background-gray;
    background-color: $color-white;
  }
  &--active:hover {
    border: 3px solid $color-background-gray;
    background-color: $color-white;
  }
}

.slider__arrow {
  display: none;
}

@media (min-width: $tablet-widths) {
  .packets .slider__pagination {
    display: none;
  }
}

@media (min-width: $desktop-widths) {
  .slider__pagination {
    display: none;
  }
  .slider__arrow {
    @include reset-button-style;
    display: block;
    position: absolute;
    font-size: $font-size__arrow;
    top: 160px;
    width: 22px;
    height: 42px;
    background-color: transparent;
    background-repeat: no-repeat;
    &--last {
      right: 0;
    }
    &--next {
      left: 0;
    }
  }
}
