.presentation {
  width: 100%;
  margin: 0 auto;
}

.presentation__title-container {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 41px;
  background-color: $color-white;
  box-sizing: border-box;
}

.presentation__title {
  text-align: center;
  @include reset-text-style;
  font-size: $font-size__text--more;
  font-weight: 400;
  line-height: 30px;
  color: $color-gray-font;
}

.presentation__wrapper {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 21px 0 40px 0;
  background-color: $color-white-gray;
  box-sizing: border-box;
}

.presentation__link-img,
.presentation__img {
  width: 280px;
  height: 375px;
  margin: 0 auto;
  padding: 0 10px 0 9px;
}

.presentation__list {
  width: 240px;
  margin: 0 auto;
  @include reset-list-style;
  padding: 22px 40px 54px 40px;
}

.presentation__list-container {
  margin: 0 auto;
  width: $mobile-width;
  border-bottom: 2px solid $color-gray-4;
}

.presentation__item {
  position: relative;
  display: inline-block;
  margin: 15px 13px 15px 15px;
  vertical-align: middle;
  box-sizing: border-box;
}

.presentation__tool-togler {
  display: none;
  height: 2px;
  -webkit-appearance: none;
  background: $color-black;
  cursor: pointer;
  outline: none;
  &--active {
    display: block;
    position: absolute;
    left: -17px;
    top: 81px;
    width: 242px;
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border: 2px solid $color-red;
    border-radius: 50%;
    background: $color-white;
  }
}

.presentation__tool-img {
  fill: $color-gray-13;
  &--crop {
    fill: $color-red;
  }
}

.presentation__tool:hover .presentation__tool-img {
  fill: $color-gray-12;
}

.presentation__tool:active .presentation__tool-img {
  fill: $color-red;
}

.presentation__btn-container {
  width: 280px;
  padding: 0 20px;
}

.presentation__btn-submit,
.presentation__btn-reset {
  width: 280px;
  font-size: $font-size__title;
  font-weight: bold;
  padding: 16px 20px;
  border: 3px solid $color-red;
  color: $color-red;
  background-color: transparent;
  line-height: 18px;
  outline: none;
  cursor: pointer;
}

.presentation__btn-submit {
  margin: 35px 0 12px;
  border-radius: 25px;
  &:hover {
    background-color: $color-red;
    color: $color-white;
  }
  &:active {
    color: $color-red-7;
  }
}

.presentation__btn-reset {
  border: 2px solid $color-gray-4;
  color: $color-gray-4;
  border-radius: 25px;
  &:hover {
    border-color: $color-gray-13;
    color: $color-gray-13;
  }
  &:active {
    background-color: $color-gray-13;
    color: $color-gray-4;
  }
}

@media (min-width: $tablet-widths) {
  .presentation {
    max-width: $tablet-widths;
  }
  .presentation__title-container {
    max-width: 660px;
    padding: 47px 0 40px;
    margin-bottom: 30px;
  }
  .presentation__title {
    font-size: $font-size__title;
  }
  .presentation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 660px;
    padding: 57px 0 55px;
  }
  .presentation__link-img,
  .presentation__img {
    width: 300px;
    height: 400px;
    margin: 0;
  }
  .presentation__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 288px;
    margin-right: 23px;
    min-height: 400px;
  }
  .presentation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    padding: 0;
    border-bottom: none;
  }
  .presentation__list-container {
    width: 280px;
    margin: 0 auto;
    border-bottom: none;
  }
  .presentation__item {
    width: 288px;
    margin: 0;
    border-bottom: 1px solid $color-gray-4;
  }
  .presentation__btn-container {
    width: 280px;
    padding: 0;
  }
  .presentation__tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    padding: 25px 5px 23px 14px;
    box-sizing: border-box;
    &--crop {
      padding-top: 8px;
    }
  }
  .presentation__tool-img {
    width: 25px;
    height: 25px;
    fill: $color-red;
    &--fill {
      height: 22px;
      margin-top: 1px;
    }
    &--contrast {
      width: 17px;
      height: 17px;
      margin-left: 5px;
    }
  }
  .presentation__tool-togler {
    display: block;
    position: relative;
    width: 202px;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
  }
  .presentation__btn-submit,
  .presentation__btn-reset {
    align-self: center;
    width: 260px;
    margin: 0;
    margin-top: 25px;
    padding-top: 15px;
    font-size: $font-size__title;
    font-weight: 700;
    box-sizing: border-box;
  }
  .presentation__btn-submit {
    margin-top: auto;
  }
  .presentation__btn-container {
 margin-left: 20px;
  }
}

@media (min-width: $desktop-widths) {
  .presentation {
    width: 100%;
    max-width: 1200px;
    padding-bottom: 27px;
  }
  .presentation__title-container {
    padding: 5px 0 66px;
  }
  .presentation__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 56px 61px 56px 80px;
  }
  .presentation__link-img,
  .presentation__img {
    width: 300px;
    height: 400px;
  }
  .presentation__form {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    width: 411px;
  }
  .presentation__list,
  .presentation__item {
    width: 411px;
  }
  .presentation__tool {
    width: 411px;
    padding: 13px 30px 10px 0;
    &--crop {
      padding: 0 30px 9px 0;
    }
  }
  .presentation__tool-img {
    width: 46px;
    height: 46px;
    &--fill {
      width: 48px;
      height: 48px;
      margin-top: 1px;
    }
    &--contrast {
      width: 33px;
      height: 33px;
      padding-bottom: 6px;
      padding-top: 5px;
    }
  }
  .presentation__tool-togler {
    width: 288px;
  }
  .presentation__btn-submit,
  .presentation__btn-reset {
    width: 185px;
    padding: 15px 45px;
    margin-top: 0;
  }
}
